{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">Home page</h1>
    <div class="container">
        <p style="text-align: center;">
            Welcome to the home page of our website! Here you can find all information about us and what.
        </p>
        <table border="2" cellpadding="5" cellspacing="0" width="70%">
            <tr>
                <th colspan="3"><font color="#FF69B4">Welcome to the home page of {{ user.username }}!</font></th>
            </tr>
        </table>
        <div>
         <p><strong>Name:</strong> {{ user.first_name }}</p>
         <p><strong>Email:</strong> {{ user.email }}</p>
     </div>
    </div>
    <div class="list-group list-group-flush" id="response">
      {% if user.responses %}
          {% with latest_response=user.responses[-1] %}
              <li class="list-group-item">
                  <strong>Response for Question 1:</strong> {{ latest_response.q1 }}<br>
                  <strong>Response for Question 2:</strong> {{ latest_response.q2 }}<br>
                  <strong>Response for Question 3:</strong> {{ latest_response.q3 }}<br>
                  <strong>Response for Question 4:</strong> {{ latest_response.q4 }}<br>
                  <strong>Response for Question 5:</strong> {{ latest_response.q5 }}<br>
                  <strong>Response for Question 6:</strong> {{ latest_response.q6 }}<br>
              </li>
          {% endwith %}
      {% else %}
          <div align="center" style="margin-top: 20px;">
            <li class="list-group-item">No responses available.</li>
            <a href="{{ url_for('auth.questionnaire') }}" class="btn btn-primary">Take the Questionnaire</a>
        </div>
      {% endif %}
  </div>
{% endblock %}
